<?xml version="1.0"?>
<model>
  <name>ignition_robot</name>
  <version>1.0</version>
  <sdf version="1.9">urdf/tanerb_moveit_config.urdf</sdf>
  <author>
    <name>ougy</name>
    <email>srongougy@gmail.com</email>
  </author>
  <description>
    Ignition Robot with 7 DOF manipulator
  </description>
</model>
